.reasons {
  padding: 30px 15px 60px 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  text-align: center;
  background-color: $ice-blue;
  line-height: 30px;

  &__title {
    font-size: 2.4rem;
    margin-bottom: 45px;
  }
  .reason {
    width: 180px;
    margin-bottom: 45px;

    &__title,
    &__text {
      font-size: 1.8rem;
    }
  }
  &__link {
    display: inline-block;
    height: 45px;
    padding: 0 30px;
    background-color: $orange;
    color: $white;
    font-size: 2rem;
    line-height: 45px;
    font-weight: 600;
    border-radius: 22.5px;
  }
}
