<footer class="footer">
  <a
    class="footer__arrow arrow"
    href="#header"
    title="go to the top of the page"
    ><img
      src="./assets/images/ico-arrow.svg"
      class="arrow__img"
      alt="arrow"
      title="arrow"
  /></a>
  <nav class="footer__menu">
    <ul class="menu__section">
      <li class="menu__item">
        <a class="menu__link" href="https://adalab.es/" title="go to Articles"
          >Articles</a
        >
      </li>
      <li class="menu__item">
        <a class="menu__link" href="https://adalab.es/" title="go to Books"
          >Books</a
        >
      </li>
      <li class="menu__item">
        <a class="menu__link" href="https://adalab.es/" title="go to Events"
          >Events</a
        >
      </li>
      <li class="menu__item">
        <a class="menu__link" href="https://adalab.es/" title="go to Reasons"
          >Reasons</a
        >
      </li>
      <li class="menu__item">
        <a class="menu__link" href="https://adalab.es/" title="go to Tips"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="footer__menu">
    <ul class="menu__section">
      <li class="menu__item">
        <a class="menu__link" href="https://adalab.es/" title="go to Twitter"
          >Twitter</a
        >
      </li>
      <li class="menu__item">
        <a class="menu__link" href="https://adalab.es/" title="go to Instagram"
          >Instagram</a
        >
      </li>
      <li class="menu__item">
        <a
          class="menu__link"
          href="https://adalab.es/"
          title="go to Mastodon.social"
          >Mastodon.social</a
        >
      </li>
    </ul>
  </nav>
  <div class="footer__container">
    <p class="copy">&copy;2021</p>
    <small class="late-motiv"
      >we <span class="heart">❤︎</span> components</small
    >
  </div>
</footer>
