<header class="header">
  <a class="header__burguer" href="https://adalab.es/" title="Enlace a Adalab"
    ><img
      class="burger__img"
      src="./assets/images/ico-menu.svg"
      alt="Imagen de menú"
      title="Menú"
  /></a>
  <h1 class="header__title">Anonymous Proxy</h1>
  <small class="header__text">In hac habitasse platea dictumst.</small>
  <a
    class="header__arrow"
    href="@@linkHref"
    title="Scroll to 3 Reasons to purchase"
    ><img
      src="/assets/images/ico-scroll-down.svg"
      alt="Arrow icon"
      title="arrow icon"
  /></a>
</header>
