<section id="reasons" class="reasons">
  <h2 class="reasons__title">3 Reasons To Purchase</h2>
  <include
    src="reason.html"
    title="Ut sed metus"
    text="Lorem ipsum dolor sit amet, consecteur."
  ></include>
  <include
    src="reason.html"
    title="Curabitur ac erat"
    text="Mauris mattis urna quis lorem molestie."
  ></include>
  <include
    src="reason.html"
    title="Morbi dictum"
    text="Aliquam in dolor et dolor tincidunt."
  ></include>

  <a href="https://adalab.es/" class="reasons__link" title="go to More reasons"
    >More reasons</a
  >
</section>
