html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: $text-font;
}
.header__title,
.window__title,
.reasons__title {
  font-family: $title-font;
}
.arrow {
  background-color: $white;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

//Animations
@keyframes throw {
  0% {
  }
  50% {
    transform: scale(1.5);
    box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes arrow {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0%);
  }
}
