.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4)),
    url(../images/cover.jpg);
  background-size: cover;
  background-position: center;

  padding-bottom: 53px;
  color: $white;

  @media all and (min-width: 768px) {
    padding-bottom: 45px;
  }
  @media all and (min-width: 1200px) {
    padding-bottom: 13px;
  }

  &__burguer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $blue;
    padding: 14px;
    .burguer__img {
      height: 14px;
      width: 16px;
    }
  }
  &__title {
    font-size: 4.2rem;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    @media all and (min-width: 768px) {
      font-size: 8rem;
      line-height: 106px;
      margin-bottom: 20px;
    }
    @media all and (min-width: 1200px) {
      font-size: 10rem;
      line-height: 132px;
      margin-bottom: 0;
      max-width: 730px;
    }
  }
  &__text {
    font-size: 1.6rem;
    margin-bottom: 45px;
    @media all and (min-width: 768px) {
      font-size: 2.4rem;
      margin-bottom: 30px;
    }
  }
  &__arrow {
    &:hover {
      @media all and (min-width: 1200px) {
        animation-name: arrow;
        animation-duration: 0.5s;
        animation-iteration-count: 2;
      }
    }
  }
}
