.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 53px;
  color: $white;

  &__burguer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $blue;
    padding: 14px;
    .burguer__img {
      height: 14px;
      width: 16px;
    }
  }
  &__title {
    font-size: 4.2rem;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text {
    font-size: 1.6rem;
    margin-bottom: 45px;
  }
}
